/* Estilo general del footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Contenedor principal */
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Estilo para cada sección del footer */
.footer-section {
    flex: 1 1 100%;
    min-width: 200px;
    margin: 10px;
    margin-bottom: 20px;
}


.footer-section h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-section p, .footer-section a {
    font-size: 1rem;
}

/* Enlaces de redes sociales */
.footer-section a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
}

.footer-section a:hover {
    text-decoration: underline;
}

/* Estilo de la sección de derechos de autor */
.footer-bottom {
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    
}
@media (min-width: 600px) {
    .footer-section {
        flex: 1 1 calc(33.33% - 40px);
        margin-bottom: 0;
    }
}
